<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeliCa2Money.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FeliCa2Money.Properties.Settings.StationCodeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\StationCode.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <FeliCa2Money.Properties.Settings>
            <setting name="SFCPeepPath" serializeAs="String">
                <value>C:\Program Files\DENNO NET\SFCPeep\SFCPeep.exe</value>
            </setting>
            <setting name="IgnoreZeroTransaction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualOfxPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoKickOfxFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShopAreaPriority" serializeAs="String">
                <value>1</value>
            </setting>
        </FeliCa2Money.Properties.Settings>
    </userSettings>
</configuration>