a
{
	text-decoration:none;
}
a:link
{
	/*color: rgb(51,153,255);*/
	text-decoration:none;
}
a:hover
{
	color:red;
	text-decoration:underline;
}
a:visited
{
	color: rgb(51,102,204); 
}

a:active 
{
	color: rgb(255,153,0);
}

table
{
	table-border-color-light: rgb(255,204,102);
	table-border-color-dark: rgb(204,153,102); 
}

body, th, td {
	font-size: 11pt;
}

body
{
        text-align: center;
        background-color: #F0F9FF;
		color: #333;
}

#contents {
        width: 900px;
        margin: auto;
        background-color: #FFFFFF;
        text-align: left;
        border: solid 1px #CCCCCC;
}

#header {
	width: 900px;
	padding-bottom: 20px;
}

#menubar {
	float: left;
	width: 120px;
	padding-left: 0px;
	padding-bottom: 0px;
}

.menuentry {
	font-size: 100%;
	border: 1px solid #CCCCCC;
	border-left: 12px solid #B2CDEC;
	padding: 3px;
	margin: 3px;
	margin-left: 1px;
	background-color: #FFFFFF;
}

.adsblock {
	font-size: 90%;
	padding: 3px;
	margin: 10px;
        margin-bottom: 20px;
	background-color: #FFFFFF;
        text-align: left;
}

#main {
        float: left;
        width: 580px;
        padding-left: 15px;
        padding-bottom: 5px;
        padding-right: 5px;
        text-align: left;
}

#ads {
        width: 180px;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        text-align: right;
}        

#footer {
	width: 900px;
	clear: both;
	border-top: solid 1px #cccccc;
	padding-top: 7px;
        padding-bottom: 7px;
	text-align: center;
	font-size: 80%;
}

h1
{
	font-size: 230%;
	color: #009;
	border-left: 16px solid #000080;
	padding-left: 10px; padding-top: 3px; padding-bottom: 3px;
}
h2
{
	font-size: 160%;
	color: #000;
	border-left: 9px solid #B8D2F3;
	border-bottom: 2px solid #B8D2F3;
	padding-left: 10px; padding-top: 5px; padding-bottom: 0px;
}
h3
{
	font-size: 110%;
	color: #000;
	border-left: 5px solid #B8D2F3;
	border-bottom: 1px solid #B8D2F3;
	padding-left: 10px; padding-top: 5px; padding-bottom: 0px;
}
h4
{
	color #000;
}
h5
{
	color: #000;
}
h6
{
	color: #000;
}
